.nav-container{
    position: fixed;
    width: 100%;
    /* position: relative; */
    z-index: 2;
}

.nav-scroll{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Cart number */
.cart_box{
    position: relative;
}

.cart_box .cart_num{
    position: absolute;
    top:-5px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: crimson;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
/* End */

.category__container,
.product__container{
    position: relative;
}

.category__container .category,
.product__container .products {
    position:absolute;
    top:105px;
    left: 90px;
    transform: translate(-50%, -50%);
}


/* user Model box */
.model__btn{
    position: relative;
}

.model__btn .showModel__box{
    position: absolute;
    top: 20px;
    right: -1px;
}
/* End */



@media(max-width:786px){
    .hidden-link{
        display: none;
    }
}