@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

/* body { */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
/* } */


/* Common style */
input, textarea {
    /* font-family: 'Sen', sans-serif; */
    font-family: 'Epilogue', sans-serif;
}



/* screen height */
.screen__height{
    min-height: 90vh;
}


/* font style */
.sen-font{
    font-family: 'Sen', sans-serif;
}
.mont-font{
    font-family: 'Montserrat', sans-serif;
}
.font {
    font-size: 15px;
}



/* color and background color */
.color{
    color: #DC143C;
}
.color__hover:hover{
    color: #DC143C;
}
.bg__color{
    background-color: #DC143C;
}



/* Product name */
.product__name{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}



/* product description scroll ==> style */
.product__desc::-webkit-scrollbar{
    width: 4px;
}
.product__desc::-webkit-scrollbar-thumb{
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}
.product__desc::-webkit-scrollbar-track{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}



/* phone number ==> remove arrow */
.no__arrow::-webkit-inner-spin-button,
.no__arrow::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


/* SideBar scroll */
.sideBar__scroll::-webkit-scrollbar{
    width: 6px;
}
.sideBar__scroll::-webkit-scrollbar-thumb{
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
}
.sideBar__scroll::-webkit-scrollbar-track{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


